fastapi==0.93.0
orjson==3.8.7
pydantic[dotenv]==1.10.5
uvicorn[standard]==0.20.0
gunicorn==20.1.0
uvloop==0.17.0
asyncpg==0.27.0
redis==4.5.1
# minio==7.1.14
geocoder==1.38.1
Faker==18.3.2
aioamqp==0.15.0
aiostream==0.4.5
miniopy-async==1.12